/* styles/sidebar.module.css */
.dashboard-sidebar {
  width: 100%;
  background-color: #fff; /* Off-white background color */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow for a floating effect */
  padding-top: 20px;
  margin-left: 0px; /* Adjust the left position as needed */
  height: 100%;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-section h2 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
}

.sidebar-section a {
  color: #ccccccbf;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s; /* Smooth color transition on hover */
  margin-left: 20px;
}

.sidebar-section a:hover {
  color: #888888; /* Cool rollover color */
}

.sidebar-section.logout a {
  color: #4f4e4e;
}

.sidebar-section.logout a:hover {
  color: #891111;
}
.sidebar-container {
  max-width: calc(25% - 200px);
}
